<div class="jumbotron">
  <div class="row">
    <div class="col-12">
      <h4>Criação de conta Poupança</h4>
    </div>
  </div>

  <form name="contaPoupancaForm">
    <div class="container">

      <input class="form-control" type="text" ng-model="contaFisica.contaFisica.id" placeholder="Informe o ID..."
        ng-required="true">

  </form>

  <div class="button">
    <button type="button" class="btn btn-info" ng-click="$ctrl.createSavingAccount(contaFisica)">Criar conta
      Fisica</button>
  </div>
</div>